<div class="footer-distributed" >

  <div class="footer-left">
  	<p class="footer-links">
  		<a href="/">首页</a>
  		·
  		<a href="http://wandouba467-blog.logdown.com/">Logdown</a>

  	</p>

  	<p class="footer-company-name">Copyright ©2017 wdzp <br> Design by wandouba467</p>
  </div>

  <div class="footer-center">

  	<div>
  		<i class="fa fa-map-marker"></i>
  		<p> 内蒙古鄂尔多斯市</p>
  	</div>

  	<div>
  		<i class="fa fa-phone"></i>
  		<p>+86 0477-8563795</p>
  	</div>



  </div>

  <div class="footer-right">

  	<p class="footer-company-about">
  		<span>合作网站</span>
  	</p>
  	<div class="footer-icons">
  		<a href="https://wx.qq.com/"><i class="fa fa-weixin"></i></a>
  		<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
  		<a href="https://www.linkedin.com/feed/"><i class="fa fa-linkedin"></i></a>
  		<a href="https://github.com/"><i class="fa fa-github"></i></a>
  	</div>

  </div>
</div>
